.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe-card {
  display: inline-flex;
  flex-direction: column-reverse;
  background-color: antiquewhite;
  width: 300px;
  height: 400px;
  overflow: hidden;
  align-items: center;
  margin: 0.5rem;
  border-radius: 10px;
}
.recipe-card img {
  height: 100%;
  width: auto;
  z-index: 0;
  filter: blur(8px) grayscale(60%);
  transition: all 0.5s ease;
}
.recipe-card img:hover {
  filter: none;
}

/* ----- EXTRA SMALL -----*/
@media only screen and (max-width: 600px) {
  .recipe-card {
    width: 150px;
    height: 200px;
  }
  .recipe-card img {
    filter: none;
  }
}
